:root {
    --ft-logo: 'Luckiest Guy', cursive;
    --ft-body: 'Alef', sans-serif;
    --ft-main: 'Bubblegum Sans', cursive;
    --ft-announcement: 'Patrick Hand', cursive;
    --ft-tictactoe: 'Finger Paint', cursive;
    --clr-green-dark: 13, 59, 102;
    /*#0d3b66*/
    --clr-yellow-light: 250, 240, 202;
    /*#faf0ca*/
    --clr-text-yellow-dark: 244, 211, 94;
    /*#f4d35e*/
    --clr-text-green-light: 82, 167, 138;
    /*#68a691*/
    --clr-bg-winner-organ: 247, 126, 71;
    /* #fb5607 */
    --clr-body-text: rgb(61, 61, 61);
    --opacity-dark: 0.8;
    --opacity-light: 1;
    --border: 2px dashed #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

img {
    max-width: 100%;
}

button {
    border: none;
    font-family: inherit;
    font-weight: 700;
}

body {
    font-family: var(--ft-body);
    font-size: min(5vw, 1.5rem);
    line-height: 1.3;
    font-weight: 400;
    color: var(--clr-body-text);

}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
}

[class^='btn'] {
    padding: 0.5em 1em;
    background-color: rgba(var(--clr-bg), var(--opacity-dark));
    border-radius: 0.5em;
    box-shadow: 0px 3px rgba(var(--clr-bg), var(--opacity-light));
    text-transform: uppercase;
    cursor: pointer;
    color: var(--clr-body-text);
    opacity: 1;
    transition: opacity ease-in 200;
}

[class^='btn']:hover:not(.nonactive),
[class^='btn']:focus:not(.nonactive) {
    opacity: 0.8;
}

[class^='btn']:active:not(.nonactive) {
    transform: translate(1px, 1px);
    transition: transform ease 250;
}

[class^='btn-light'] {
    --clr-bg: var(--clr-text-yellow-dark)
}

[class^='btn-dark'] {
    --clr-bg: var(--clr-text-green-light)
}

[class^='btn-primary'] {
    --clr-bg: var(--clr-yellow-light)
}


.mb-min {
    margin-bottom: 0.25em;
}

.container {
    min-height: 100vh;
    position: relative;
    background-image: url('./img/hand-drawn-spring-wallpaper/4920290.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}



footer {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    justify-self: flex-end;
    margin-top: auto;
}

main {
    margin: 2em 0 2em 0;
}

/* ----header---- */
.logo {
    text-align: center;
    font-family: var(--ft-logo);
    font-size: clamp(3.75rem, 8vw, 4.5rem);
    letter-spacing: 3px;
    line-height: 1;
    color: rgba(var(--clr-text-yellow-dark), var(--opacity-light));
    text-shadow: -3px 4px rgba(var(--clr-green-dark), var(--opacity-light));
    margin: 0.75em 0;
}

.logo.small-logo {
    position: relative;
    left: 1em;
    font-size: 1rem;
    text-shadow: -1.5px -2px rgba(var(--clr-green-dark), var(--opacity-light));
    letter-spacing: 1px;
    width: 60px;
    padding: 0.5em 0.25em 0.25em 0.25em;
    border: 2px solid rgba(var(--clr-green-dark), var(--opacity-light));
    line-height: 1.5rem;
    border-radius: 0.5em;
    transition: translate ease-in-out 250ms;
}

.logo.small-logo:hover {
    background-color: rgba(var(--clr-green-dark), 0.2);
    text-shadow: none;
}

.logo.small-logo:hover::after {
    transform: translate(2px, 2px);
}

.logo.small-logo::after {
    position: absolute;
    content: '';
    top: -5px;
    bottom: 2px;
    left: -5px;
    right: 2px;
    border-radius: 0.5em;
    border: 2px solid rgba(var(--clr-text-yellow-dark), var(--opacity-light));
}

/* ----prepareGame ----*/
.prepareGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonPlayerChoice {
    display: flex;
    gap: 0.25em;
    margin-top: 0.5em;
}

.buttonStart {
    margin-top: 1em;
}

.buttonPlayerChoice>*,
.btnStart {
    width: 100%;
    padding: 0.25em 0;
}

.userInfor {
    border-radius: 0.5em;
    background-color: rgba(var(--clr-green-dark), var(--opacity-dark));
    color: rgba(var(--clr-yellow-light), var(--opacity-light));
    padding: 0.5em;
    text-transform: uppercase;
    box-shadow: 0px 3px rgba(var(--clr-green-dark), var(--opacity-light));
}

.userInfor-Name,
.player2Infor-Name {
    display: flex;
    flex-direction: column;
}

.pickMark-choses {
    display: flex;

}

.pickMark-choses,
.gameLevel {
    background-color: rgba(var(--clr-green-dark), var(--opacity-dark));
    padding: 0.25em;
    border-radius: 0.25em;
}

.level {
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
}

.pickMark-choses>* {
    width: 100%;
    text-align: center;
}

.level>* {
    width: 100%;
    text-align: center;
    padding: 0 0.25em;
}

.pickMark-Text.note {
    color: rgba(var(--clr-yellow-light), 0.5);
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
}

input[type="text"] {
    background-color: rgba(var(--clr-green-dark), var(--opacity-dark));
    border: none;
    padding: 0.25em;
    outline: none;
    border-radius: 0.25em;
    color: rgba(var(--clr-yellow-light), var(--opacity-light))
}

input[type="text"]:not(:placeholder-shown):invalid {
    background-color: red;
}

input[type='radio'] {
    display: none;
}

.chosesMark,
.level {
    position: relative;
}

input[type='radio']:checked+label {
    color: rgba(var(--clr-green-dark), var(--opacity-light));
}

input[type='radio']:checked~.radio-swich__mark {
    transform: translateX(100%);
}

input[id='level-medium']:checked~.radio-swich__level {
    transform: translateX(100%);
}

input[id='level-hard']:checked~.radio-swich__level {
    transform: translateX(200%);
}


label.mark {
    font-family: var(--ft-tictactoe);
}

label.mark,
label.label_level {
    position: relative;
    background-color: transparent;
    display: block;
    cursor: pointer;
    font-weight: 700;
    color: rgba(var(--clr-yellow-light), var(--opacity-light));
    z-index: 1;
    transition: color 300ms;
    font-size: 1rem;
}

.radio-swich__mark {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(var(--clr-yellow-light), var(--opacity-light));
    border-radius: 0.25em;
    transition: transform 250ms;
}

.radio-swich__level {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: calc(100%/3);
    background-color: rgba(var(--clr-yellow-light), var(--opacity-light));
    border-radius: 0.25em;
    transition: transform 250ms;
}

/* ----boardDisplay---- */


.dashBoard {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    position: static;
}

.player {
    display: flex;
    flex-direction: column;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    background-color: rgba(var(--clr-green-dark), 0.4);
    position: relative;
    padding-top: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 160px;
    transition: all ease-in-out 200ms;
}

.player.onTurn {
    background-color: rgba(var(--clr-yellow-light), var(--opacity-dark));
}

.playerName {
    font-size: 1rem;
    color: rgba(var(--clr-body-text), var(--opacity-dark));
    text-transform: capitalize;
}

.icon {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid white;
    display: grid;
    place-content: center;
    padding: 5px;
    background-color: antiquewhite;
    overflow: hidden;
}

.playerMark {
    font-family: var(--ft-tictactoe);
    font-size: 1rem;
    position: absolute;
    top: -5px;
    left: 55%;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    padding: 5px;
    background-color: rgba(var(--clr-green-dark), var(--opacity-light));
    overflow: hidden;
}

/* ----mainGame----*/
.prepareGame,
.mainGame,
.boardDisplay {
    margin: 0 auto;
    width: min(90%, 400px);
}

.boardGame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    gap: 0.5em;
    padding: 1em 0;
}

.boardGame>* {
    padding-top: 100%;
    position: relative;
    --clr-bg: var(--clr-green-dark);
    background-color: rgba(var(--clr-bg), var(--opacity-light));
    border-radius: 0.5rem;
    box-shadow: 0px 3px rgba(0, 0, 0, var(--opacity-light));
}

.cellText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: clamp(2rem, 17vw, 5rem);
}

.x {
    color: rgba(var(--clr-text-green-light), var(--opacity-light));
    font-family: var(--ft-tictactoe);
}

.o {
    color: rgba(var(--clr-text-yellow-dark), var(--opacity-light));
    font-family: var(--ft-tictactoe);
}

.buttonRestart .btnRestart {
    padding: 0.25em;
    display: grid;
    place-content: center;
    margin-top: 0.5em;
}

/* ----Score ----*/
.displayScore {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
}

.playerScore {
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.5em;
    margin: auto 0;
    background-color: rgba(var(--clr-bg));
}

.playerScore * {
    font-size: 0.8em;
    color: var(--clr-body-text);
}

.playerScore .playerName {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playerSymbol {
    width: 100%;
    text-align: center;
}

.playerScore:nth-child(1) {
    --clr-bg: var(--clr-text-green-light)
}

.playerScore:nth-child(2) {
    --clr-bg: var(--clr-yellow-light)
}

.playerScore:nth-child(3) {
    --clr-bg: var(--clr-text-yellow-dark)
}

.score {
    font-family: var(--ft-announcement);
    font-size: 1.125rem;
    font-weight: 700;
}

/* ----end round---- */
.endRound,
.restart {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(var(--clr-yellow-light), 0.4);
    display: grid;
    place-content: center;
    text-align: center;
    padding: 0 1em;
}

.announce_endRound,
.announce_restart {
    background-color: rgba(var(--clr-green-dark), var(--opacity-light));
    padding: 1em 2em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

[class^="announce"] {
    text-transform: uppercase;
}

.announce-userResult {
    color: rgba(var(--clr-yellow-light), var(--opacity-dark));

}

.announce-winner {
    display: flex;
    align-items: center;
}

.announce-text,
.announce-restart-text {
    color: rgba(var(--clr-text-green-light), var(--opacity-light));
    font-weight: 700;
    font-size: 1.25em;
}

.announce-restart-text {
    color: rgba(var(--clr-yellow-light), var(--opacity-light));
}

.announce-text {
    color: rgba(var(--clr-text-green-light), var(--opacity-light));
}

.winSymbol {
    color: rgba(var(--clr-text-green-light), var(--opacity-light));
    font-family: var(--ft-tictactoe);
    margin-right: 0.25em;
    font-size: 2em;
}

.nextAction {
    display: flex;
    justify-content: center;
    gap: 1em;
}

/* ----general style---- */
.hidden {
    display: none;
}

.nonactive {
    cursor: default;
    --clr-bg: 76, 120, 173;
    box-shadow: 0px 1px rgba(var(--clr-bg), var(--opacity-light));
    transform: translate(0, 1px);
}


.win {
    --clr-bg: var(--clr-bg-winner-organ);
    background-color: rgb(var(--clr-bg), var(--opacity-dark));
    box-shadow: 0px 3px rgba(var(--clr-bg), var(--opacity-light));
}

.win .cellText {
    color: white;
}

@media screen and (min-width:800px) {
    .dashBoard {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 850px;
        padding: 0 1em;
    }

    /* .dashBoard {
        width: 100%;
    } */
}